.spinner {
  border-radius: 100%;
  width: 6px;
  height: 6px;
  background-color: rgb(97, 96, 96);
  animation: infinite 2s ease-in-out animate;
}

@keyframes animate {
  0% {
    opacity: 0.8;
    transform: scale(1);
  }
  50% {
    opacity: 0.4;
    transform: scale(2);
  }
  100% {
    opacity: 0.8;
    transform: scale(1);
  }
}
